In [1]:
import pandas as pd
import numpy as np

In [2]:
my_list=[100,200,300]
pd.Series(my_list)
##creates series.. 1d with index

0    100
1    200
2    300
dtype: int64

In [3]:
labels=['A','B','C']
pd.Series(my_list,labels)

A    100
B    200
C    300
dtype: int64

In [4]:
arr=np.array([100,200,300])

In [5]:
pd.Series(arr)

0    100
1    200
2    300
dtype: int32

In [6]:
s1=pd.Series(arr,labels,name='Method2')

In [7]:
s1

A    100
B    200
C    300
Name: Method2, dtype: int32

In [8]:
dict={'A':100,'B':200,'C':300,'D':400}
z1=pd.Series(dict)
z1

A    100
B    200
C    300
D    400
dtype: int64

In [9]:
z2=pd.Series([10,20,30,40],'A B D E'.split())

In [10]:
z2

A    10
B    20
D    30
E    40
dtype: int64

In [11]:
z1+z2

A    110.0
B    220.0
C      NaN
D    430.0
E      NaN
dtype: float64

In [ ]:
###SLICING IN A SERIES

In [16]:
z1['A':'C']

A    100
B    200
C    300
dtype: int64

In [ ]:
###INDEXING##

In [12]:
#.iloc does integer based indexing.
z1.iloc[2]

300

In [13]:
#.iloc does label based indexing.
z1.loc['A']

100

In [14]:
data=pd.Series([0.25,0.5,0.75,1.0],
              index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
##OPERATIONS

In [15]:
z1>100

A    False
B     True
C     True
D     True
dtype: bool

In [17]:
z1[z1>100]

B    200
C    300
D    400
dtype: int64

In [18]:
b=[True,False,True,False]
z1[b]

A    100
C    300
dtype: int64

In [ ]:
##BROADCASTING

In [19]:
z1+200

A    300
B    400
C    500
D    600
dtype: int64

In [ ]:
##ORDERING

In [20]:
z1.sort_values()

A    100
B    200
C    300
D    400
dtype: int64

In [21]:
z1.sort_values(ascending=False)

D    400
C    300
B    200
A    100
dtype: int64

In [23]:
z1.sort_values(ascending=False).index[2]

'B'

In [24]:
z1

A    100
B    200
C    300
D    400
dtype: int64

In [27]:
dict={'c':100,'a':50,'e':300,'b':250}
z3=pd.Series(dict)
z3

c    100
a     50
e    300
b    250
dtype: int64

In [32]:
z3.sort_values(ascending=True)

a     50
c    100
b    250
e    300
dtype: int64

In [33]:
z3.sort_values(ascending=True).index[1]

'c'

In [34]:
z3

c    100
a     50
e    300
b    250
dtype: int64

In [35]:
z3.sort_values(ascending=False,inplace=False)

e    300
b    250
c    100
a     50
dtype: int64

In [36]:
z3.sort_values(ascending=False,inplace=True)

In [37]:
z3

e    300
b    250
c    100
a     50
dtype: int64

In [ ]:
##AGGREGATION ON SERIES

In [38]:
z1.mean()

250.0

In [39]:
z1.max()

400

In [40]:
z1.sum()

1000

In [41]:
z1.min()

100

In [42]:
z1.idxmax()
##MAX value ka index

'D'

In [44]:
##Series with two columns
data_1={'Column1':pd.Series([2,3,4,5],['a b c d'.split()]),
       'Column2':pd.Series([20,30,40,50],['A B C D'.split()])}

In [45]:
data_1

{'Column1': a    2
 b    3
 c    4
 d    5
 dtype: int64,
 'Column2': A    20
 B    30
 C    40
 D    50
 dtype: int64}

In [ ]:
##DATAFRAME###